<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
</head>
<body>
    <section class="login">
        <div class="login-content">
            <div class="login-boxes">
                <div class="login-left">
                    <div class="login-left-box">
                        <img src="" alt="shapes" />
                    </div>
                </div>
                <div class="login-right">
                    <div class="login-right-box">
                        <div class="login-top">
                            <img src="" alt="logo" />
                        </div>
                        <div class="login-body">
                            <p>Welcome back,</p>
                            <h1 class="login-title">Login to yur account</h1>
                            <form  class="login-form">
                                <input type="text" className="field1" placeholder="Email Address">
                                <input type="password" className="field1" placeholder="Password">
                                <input type="submit"  className="field1 btn" value="Login">
                            </form>
                            <p className="forgot-text">Forgot Password</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="overview">
        <div class="overview-content">
            <h1 class="page-title">Dashboard</h1>
            <div class="overview-boxesa">
                <div class="overboxa-left">
                    <div class="boxa-left-top">
                        <div class="topa-1">
                            <p>Investments Vs Returns</p>
                        </div>
                        <div class="topa-2">
                            <input class="input-date" type="date"/>
                            <input class="input-date" type="date"/>
                        </div>
                    </div>
                    <img src="" alt="graph" />
                </div>
                <div class="overboxa-right">
                    <p>Return Summary</p>
                    <div class="line"></div>
                    <div class="rghtbox-a">
                        <p>Total Amount Invested:</p>
                        <p><strong>₦20,000,000.00</strong></p>
                    </div>
                    <div class="rghtbox-a">
                        <p>Total Amount Invested:</p>
                        <p><strong>₦25,050,965.00</strong></p>
                    </div>
                    <div class="rghtbox-a">
                        <p>Total Amount Invested:</p>
                        <p><strong>₦5,050,965.00</strong></p>
                    </div>
                    <div class="righta-bottom">
                        <p>Outstsanding balance</p>
                        <p><strong>₦2,045,000.00</strong></p>
                    </div>
                </div>
            </div>
            <div class="overview-4boxes">
                <div class="overview-4box">
                    <div class="4box-top">
                        <p>Loan Amt. Available</p>
                        <img src="" alt="icon" />
                    </div>
                    <p><strong>₦1,235,000</strong></p>
                </div>
                <div class="overview-4box">
                    <div class="4box-top">
                        <p>Loan Amt. Collected</p>
                        <img src="" alt="icon" />
                    </div>
                    <p><strong>₦1,235,000</strong></p>
                </div>
                <div class="overview-4box">
                    <div class="4box-top">
                        <p> Amt. Not Paid</p>
                        <img src="" alt="icon" />
                    </div>
                    <p><strong>₦1,235,000</strong></p>
                </div>
                <div class="overview-4box">
                    <div class="4box-top">
                        <p>Amt. Under Process</p>
                        <img src="" alt="icon" />
                    </div>
                    <p><strong>₦1,235,000</strong></p>
                </div>
            </div>
            <div class="overview-boxesb">
                <div class="overviewboxb-left">
                    <p>Loan Wallet</p>
                    <div class="wallet-card">
                        <p>Available Balance</p>
                        <p><strong>₦23,000,000.00</strong></p>
                    </div>
                </div>
                <div class="overviewboxb-right">
                    <p>User Locations</p>
                    <img src="" alt="locations"/>
                </div>
            </div>
            <div class="overview-c">
                <div class="overc-top">
                    <p>Upcoming Payments</p>
                    <p>View All</p>
                </div>
                <div class="overc-table">
                    <div class="overc-table-top">
                        <p>Name</p>
                        <p>Loan Terms</p>
                        <p>Interest(%)</p>
                        <p>Due date</p>
                        <p>Status</p>
                    </div>
                    <div class="overc-table-body">
                        <div class="overc-single">
                            <p>Olowu John</p>
                            <p>1 Month</p>
                            <p>10.75%</p>
                            <p>12-02-2020</p>
                            <p>Pending</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="loan-boxes-a">
        <div class="loan-box">
            <p>Loan Disbursed History</p>
            <img src="" alt="chart" />
        </div>
        <div class="loan-box">
            <div class="loan-box-top">
                <p>Outstanding Delay Status</p>
                <input className="input-date" type="date"/>
                <input className="input-date" type="date"/> 
            </div>
            <div class="loan-box-body">
                <div class="lcubes">
                    <div class="ltwo">
                        <div class="lbox">
                            <div class="lbox-top">
                                <img src="" alt="cal" />
                                <p>On-time</p>
                            </div>
                            <p>23,000,000</p>
                            <p className="lbox-ps">54 Memebers ></p>
                        </div>
                        <div class="lbox">
                            <div class="lbox-top">
                                <img src="" alt="cal" />
                                <p>30 Days Late</p>
                            </div>
                            <p>23,000,000</p>
                            <p className="lbox-ps">12 Memebers ></p>
                        </div>
                    </div>
                    <div class="ltwo">
                        <div class="lbox">
                            <div class="lbox-top">
                                <img src="" alt="cal" />
                                <p>60 Days Late</p>
                            </div>
                            <p>23,000,000</p>
                            <p className="lbox-ps">5 Memebers ></p>
                        </div>
                        <div class="lbox">
                            <div class="lbox-top">
                                <img src="" alt="cal" />
                                <p>90 Days Late</p>
                            </div>
                            <p>23,000,000</p>
                            <p className="lbox-ps">4 Memebers ></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lr-table">
        <div class="lrtable-top">
            <p>Name</p>
            <p>Amount</p>
            <p>Loan Terms</p>
            <p>Interest (%)</p>
            <p>Payback date</p>
            <p>Status</p>
        </div>
        <div class="lr-single">
            <p>Olowu John</p>
            <p>₦5000</p>
            <p>30 days</p>
            <p>10.75%</p>
            <p>12-02-2020</p>
            <p className="green-txt">Approved</p>
        </div>
    </div>

    <div class="settings-box">
        <form action="">
            <div class="settings-left">
                <div class="settings-2">
                    <div class="st-single">
                        <p class="field-label">First name</p>
                        <input type="text" class="st-field2">
                    </div>
                    <div class="st-single">
                        <p class="field-label">First name</p>
                        <input type="text" class="st-field2">
                    </div>
                </div>
                <div class="settings-1">
                    <div class="st-single1">
                        <p class="field-label">Email</p>
                        <input type="text" class="st-field2">
                    </div>
                    <div class="st-single1">
                        <p class="field-label">Role</p>
                        <input type="text" class="st-field2">
                    </div>
                    <div class="st-single1">
                        <p class="field-label">Password</p>
                        <input type="text" class="st-field-edit">
                    </div>
                    <div class="st-single1">
                        <input className="fund-btn" type="submit" value="Save" />
                    </div>
                </div>
            </div>
            <div class="settings-right">
                <img src="" alt="admin" />
                <p className="purple-txt">Tap to change picture</p>
            </div>
        </form>
    </div>

    <div className="gv-content">
        <h2>Personal Info</h2> 
        <div class="gv-boxes">
            <p className="gv-sm">Full name</p>
            <p>Obembe Tosin</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">Title</p>
            <p>Mr</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">Relationship with Tobi</p>
            <p>Sister</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">Email Address</p>
            <p>obembetosin@yahoo.com</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">Phone number</p>
            <p>08166249033</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">Date of Birth</p>
            <p>12/06/1988</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">BVN</p>
            <p>2345678909</p>
        </div>
        <div class="gv-boxes">
            <p className="gv-sm">Home Address</p>
            <p>
                175B Moshood Olugbani Street, Off Ligali Ayorinde St, Victoria I
                sland 101233, Lagos
            </p>
        </div>
       
        
    </div>

</body>
</html>