input, select { font-size: 100%; }
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.loans{
    background: #e5e5e55d;
}
.loans-nav{
    display: flex;
    margin-left: 272px;
    padding: 6em 2em 1em 2em;
    background: #fff; 
    /*position: fixed;*/
    
}
.loan-nav-item-a{
    background: #6548c315;
    color: #6548C3;
    border-radius: 30px;
    padding:  .5em 1.5em .5em 1.5em;
    margin-right: 2em;
    font-size: .9em;
}
.loan-nav-item{
    border-radius: 30px;
    padding:  .5em 1em .5em 1em;
    margin-right: 2em;
    font-size: .9em;
    color: rgba(0, 0, 0, 0.418);
}

.loans-content{
    width: 78%;
    padding: 1.5em 0.5em 10em 1em;
    margin-left: 272px;
}
.loan-boxes-a{
    display: flex;
    margin-top: 1.2em;
    /*background: coral;*/
}
.loan-box1{
    padding: 2em 1em 0em 1.5em;
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;  
}
.loan-box1 img{
    margin-top: 4em;
    width: 100%;
    background: #049a4f11;
}
.loan-box1 canvas{
  
    margin-top: 2em;
    
    margin-bottom: 2em;
    /*background: #049a4f11;*/
}


.lb-title{
    margin-bottom: 1em;
    font-size: 1.1em;
}
.loan-box2{
    padding: 2em 0 0 1.5em;
    width: 51%;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 1.5em;
}
.loan-box3{
    padding: .4em 0 0 1.5em;
    width: 48.5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 0;
}
.loan-box4{
    padding: .4em 0 0 1.5em;
    width: 49.5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 1.5em;
}
.loan-box-top{
    display: flex;
    /*background: coral;*/
}
.cal-in{
    margin-left: .8em;
    margin-top: -.5em;
    
}
.cal-in2{
    margin-top: 1em;
}

.lcubes{
   margin: 2em auto;
  
}
.ltwo{
    display: flex;
}
.lbox{
   
    width: 50%;
    padding: 1.5em;
}
.lbox-top{
    display: flex;
    margin-bottom: 1.5em;
}
.lbox-top p{
    font-weight: bolder;
    font-size: .89em;
    margin-left: .5em;
}
.l-amt{
    font-size: 1.65em; 
}
.lbox-ps{
    margin-top: 1em;
    font-size: .88em;
    color: #6548C3;
}
.lb-top2{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 0 0;
}
.lb-table{
    padding-bottom: 2em;
}
.a-link{
    color:#6548C3;
}

.lb-table-top{
    margin-top: 1em;
    margin-left: -1.5em;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.2fr 1.5fr ;
    background: #F1F1F1;
    padding: 1em 0 1em 1.5em;
}
.lb-top2 p{
    font-size: 1.1em;
}

.lb-single{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.2fr 1.5fr ;
    padding: 1em 0 1em 0;
    border-bottom: .5px solid rgba(0, 0, 0, 0.075);
}

/* Req */
.loan-request{
    background: #e5e5e55d;
}
.loan-req-content{
    width: 78%;
    padding: 2em 0 10em 1em;
    margin-left: 272px;
}
.lr-top{
    display: flex;
    justify-content: space-between;
}
.lr-top-left{
    display: flex;
}
.lr-top-left h1{
    margin-right: 1em;
}

.lr-cal2{
    margin-left: 3em;
}

.search-field{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 64%;
    padding: .5em 1em;
}
.search-submit{
    background: #6548C3;
    border-radius: 4px; 
    width: 98px;
    height: 40px;
    padding: .5em 1.4em;
    border: 0;
    color: #fff;
    margin-left: .5em;
}
.search-field:focus, .search-submit:focus{
    outline: none;
}
.search-submit:focus{
    background: #907cd3; 
}
.lr-table{
    margin-top: 2em;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: .7em;
}
.lrtable-top{
    background: #F4F4F4;
    border-radius: 5px;
    padding: .6em;
    display: grid;
    grid-template-columns: 2fr 1.3fr 1.3fr 1.3fr 1.5fr 1.6fr;
}
/* */
.lrtable-top2{
    background: #F4F4F4;
    border-radius: 5px;
    padding: .6em;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr ;
}
/* */
.lrtable-top3{
    background: #F4F4F4;
    /*background: tomato;*/
    border-radius: 5px;
    padding: .6em;
    display: grid;
    grid-template-columns: 1.8fr 1.8fr 1.8fr 2fr 1.5fr 1.5fr  ;
    
}

.lr-single{
    margin-top: .6em;
    background: #fff;
    padding: .6em .6em 1.5em .6em;
    display: grid;
    grid-template-columns: 2fr 1.3fr 1.3fr 1.3fr 1.5fr 1.6fr;
    border-bottom: 0.5px solid #E8E8E8;
}
/* */
.lr-single2{
    margin-top: .6em;
    background: #fff;
    padding: .6em .6em 1.5em .6em;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr ;
    border-bottom: 0.5px solid #E8E8E8;
}
/* */
.lr-single3{
    margin-top: .6em;
    background: #fff;
    padding: .6em .6em 1.5em .6em;
    display: grid;
    grid-template-columns: 1.8fr 1.8fr 1.8fr 2fr 1.5fr 1.5fr  ;
    border-bottom: 0.5px solid #E8E8E8;
    transition: .3s ease-in;
}
.lr-single3:hover{
    background: #F4F4F4;
    transition: .3s ease-in;
}
.green-txt{
    color: #049A50;
}


/* loan data */
.loan-data{
    background: #e5e5e55d;
}
.loan-data-content{
    width: 78%;
    padding: 2em 0 10em 1em;
    margin-left: 272px;
}
.ld-top{
    display: flex;
    justify-content: space-between;
}
.ld-cal2{
    margin: 1em 0;
}

.chart1{
    width: 100%;
    height: 100%;
    /*background: #13049a31;*/
}

.lrtable-top-data{
    background: #F4F4F4;
    border-radius: 5px;
    padding: .6em;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.5fr 1.5fr 1.3fr 1.6fr  ;
}

.lr-single-data{
    margin-top: .6em;
    background: #fff;
    padding: .6em .6em 1.5em .6em;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.5fr 1.5fr 1.3fr 1.6fr  ;
    border-bottom: 0.5px solid #E8E8E8;
}

/* */
.paginate-btns{
    margin-top: 1.5em;
    display: flex;
    
    width: 35%;
}
.pg-btn{
    padding: .4em .7em;
    background: #fff;
    border-radius: 5px;
    border: 1px solid  #6548C3;
    color: #6548C3;
    margin-right: 2em;
}
.pg-btn:focus{
    outline: none;
    border: 3px solid  #6548C3;

}
.pg-txt{
    margin-top: .3em;
    margin-right: 1em;
    color: #6548C3;
}
