.users{
    background: #e5e5e55d;  
}
.users-content{
    width: 78%;
    padding: 7em 0.5em 10em 1em;
    margin-left: 272px;
}
.users-top{
    display: flex;
    justify-content: space-between;
}
.users-top-left{
    display: flex;
}
.users-top-left h1{
    margin-right: 1em;
}

.users-table{
    margin-top: 2em;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: .7em;
}
.userstable-top{
    background: #F4F4F4;
    border-radius: 5px;
    padding: .6em;
    display: grid;
    grid-template-columns: .65fr 1.6fr 1.6fr 1.9fr 1.4fr 1.4fr;
}
.users-single{
    margin-top: .18em;
    background: #fff;
    padding: .6em ;
    display: grid;
    grid-template-columns: .65fr 1.6fr 1.6fr 1.9fr 1.4fr 1.4fr;
    border-bottom: 0.5px solid #E8E8E8;
    transition: .3s ease-in;

}
.users-single:hover{
    margin-top: .18em;
    background: #F4F4F4;
    padding: .6em ;
    display: grid;
    grid-template-columns: .65fr 1.6fr 1.6fr 1.9fr 1.4fr 1.4fr;
    border-bottom: 0.5px solid #E8E8E8;
    transition: .3s ease-in;
}

.users-single p{
    margin-top: .6em;
}
.user-img{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
}
.load-animation{
   display: flex;
   align-items: center;
   justify-content: center; 
   margin-top: 10%;
}

/* User details */

.pg-nav1{
    margin-top: 1.5em;
    display: flex;
}
.pg-nav1 p{
    margin-top: .6em;
}
.p-active{
    color: #6548C3;
}

.userdetail-box1{
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
}
.ud-box1-main{
    display: flex;
    margin: 1em 0;
}
.ud-sbox1{
    width: 20%;
    margin-right: 1em;
}
.userde{
    border-radius: 50%;
    height: 189px;
    width: 189px;
    object-fit: cover;
}
.ud-sbox2{
    width: 30%;
}
.ud-sbox3{
    width: 38%;
}
.ud-sbox2, .ud-sbox3{
    margin-left: 1em;
    /*background: lavender;*/
}
.sbox-grid1{
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    border-bottom: 0.5px solid #E8E8E8;
}
.sbox-grid1n{
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
}
.sbox-grid2{
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: .7fr 2fr;
    border-bottom: 0.5px solid #E8E8E8;
}
.sbox-grid2n{
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: .7fr 2fr;
}
.sbox-grid1 strong, .sbox-grid2 strong{
    font-size: 1.1em;
}
.ud-box1-sub{
    display: flex;
    margin-top: 1em;
}
.ud-box1-sub2{
    display: flex;
    margin-top: 1em;
    justify-content: center;
}
/* */
.align-color{
   display: flex;
   justify-content: center;
    color: #6548C3;
}
.sub-pillsa{
    display: flex;
    align-items: center;
    padding: 1em;
    background: #6548c30c;
    border-radius: 60px;
    width: 270px;
    height: 40px;
    cursor: pointer;
}
.sub-pills{
    display: flex;
    align-items: center;
    padding: 1em;
    background: #6548c30c;
    border-radius: 60px;
    width: 230px;
    height: 40px;
    margin-left: 1.3em;
    cursor: pointer;
}
.purple{
    color: #6548C3;
    font-weight: bold;
    margin-left: 1.2em;
}
.userdetail-boxes2{
    margin-top: 2em;
    display: flex;
}
.nk-container{
    width: 49%;
}
.nk-container h2, .ei-container h2{
    font-size: 1.3em;
}
.nk-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: .9em;
    padding: 2em 2em 3em 2em;
}
.ei-container{
    width: 49%;
    margin-left: 1em;
}
.ei-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: .9em;  
    padding: 2em 2em 3em 2em;
}

.detailgrids-2{
    padding: .7em 0 1em 0;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    border-bottom: 0.5px solid #E8E8E8;
}
.detailgrids-2n{
    padding: .7em 0 1em 0;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
}
.padd{
    padding-bottom: 6em;
}

.iv-container{
    margin-top: 2em;
}
.iv-box{
    margin-top: 1em;
    padding: .6em 1em;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.iv-grid1{
    display: grid;
    padding: .6em 1em;
    grid-template-columns: 1.3fr 1.4fr 2fr 2fr;
    background: #F4F4F4;
    border-radius: 5px;
}
.iv-grid2{
    display: grid;
    padding: .6em 1em;
    grid-template-columns: 1.3fr 1.4fr 2fr 2fr;
    
}
.iv-btn{
    background: #6548c323;
    border-radius: 30px;
    width: 100px;
    height: 33px;
    margin-right: .6em;
    border: 0;
    color: #6548C3;;
}
.iv-btn:focus{
    outline: none;
}

.acti-container{
    margin-top: 2em;
}
.acti-box{
    margin-top: 1em;
    padding: .6em 1em;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;  
}
.acti-single{
    display: flex;
    padding-left: .4em;
    /*background: #6548C3;*/
}
.acti-text{
    margin-left: 1em;
}
.small-txt{
    font-size: .8em;
    color: #B0B0CD;
}
/* */
.useloan-container{
    margin-top: 2em;
}
.userloan-box{
    background: white;
    border-radius: 1opx;
    padding: 1em;
    margin-top: 1.5em;
}
.uslo-grid1{
    background: #F4F4F4;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 2fr 1.5fr ;
    padding: 1em;
}
.uslo-grid2{
    background: #ffffff;
    border-bottom:  0.5px solid #E8E8E8;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 2fr 1.5fr ;
    padding: 1em;
}
.yellow-text{
    color: #FFBC00;
}
.red-txt{
    color: #F2414E;
}
.overlay{
    width: 100%;
    position:fixed;
    background:#00000091;
    z-index: 2;
    width: 100%;
    height: 100vh;
    transition: 0.6s ease-in-out;
}
.popup-box{
    position: fixed;
    z-index: 3;
    /*background: #FFFFFF;
    border-radius: 10px;
    margin: 10em 0 10em 35%;   
    /*padding: 3em;*/
    top: 45%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.x-voter{
    position: fixed;
    z-index: 3;
    top: -25%;
    right: -20%;
}
.v-image{
    width: 591px;
    height: 367px;
    object-fit: cover;
}
